html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {
    background: #eee;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
}

/* create pizza form */

.create-pizza {
    background: #f7f7f7;
    padding: 20px;
}

.create-pizza label,
.create-pizza select {
    display: block;
}

.create-pizza label {
    margin-top: 30px;
}

.create-pizza select {
    padding: 8px;
    width: 200px;
}

.create-pizza input[type="checkbox"] {
    margin: 10px;
}

.create-pizza input[type="submit"] {
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

.pizza-details {
    background: #f7f7f7;
    padding: 20px;
}

.pizza-details p {
    margin: 20px 0;
    font-weight: bold;
}

.pizza-details button {
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

.back {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #5e2195;
    margin-bottom: 20px;
}

/* pizza index page */

.pizza-index h1 {
    margin-bottom: 40px;
}

.pizza-index .pizza-item {
    margin: 10px 0;
    padding: 12px;
    background: #f4f4f4;
}

.pizza-index .pizza-item img {
    width: 60px;
    display: inline-block;
}

.pizza-index .pizza-item h4 {
    display: inline-block;
    font-weight: normal;
    margin-left: 20px;
}

.pizza-index .pizza-item h4 a {
    color: #777;
    text-decoration: none !important;
}

.login-body {
    background-image: url("/image/pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.login-container {
    background-color: rgba(
        255,
        255,
        255,
        0.8
    );
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}
.pizza-color {
    color: #5e2195;
}

.nav-item a {
    position: relative;
    color: #5e2195;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #5e2195;
    transition: width 0.3s ease;
}

.nav-item a:hover {
    color: #a682c7;
}

.nav-item a:hover::after {
    width: 100%;
}

.bg-select{
    background-color: #fefefe;
    color: #5e2195;
}

